* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}

/* HEADER */
head {
    position: relative;
    padding: 0 2rem;

}


section#other {
    flex-direction: column;
    justify-content: left;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0rem;
    font-weight: 00;
    font-family: 'Forum', cursive;

}

#other p {
    font-family: 'Forum', cursive;
    font-size: 1.7rem;
}


/*Hero*/

section#hero {
    padding-top: calc(1px + 90 * ((100vw - 320px) / (1280 - 320)));
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    color: white;

}

#hero h2 {
    font-weight: 600;
    font-size: 1.3rem;
    font-family: 'Forum', cursive;
    padding-top: 90px;
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-family: 'Forum', cursive;

}

#hero p {
    font-weight: 100;
    font-size: calc(18px + 6 * ((100vw - 320px) / (1280 - 320)));
    margin-bottom: 1rem;
    font-family: 'Forum';
}

#hero h4 {
    font-size: 1.4rem;
    font-weight: 100;
    color: #6d6d6d;
    font-family: 'Forum', cursive;
}

#hero h6 {
    font-weight: 100;
    color: white;
    font-size: 1.1rem;
    font-family: 'Forum', cursive;
    line-height: 2;

}

#hero h5 {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-family: 'Forum', cursive;
    : 'Roboto Slab', serif;
    font-style: inherit;
    font-family: 'Forum', cursive;
}

#hero h3 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: 'Forum', cursive;


}

.ceti {
    width: 50px;
    height: 50px;
    border-radius: 1%;
    position: fixed;
    right: 0;
    top: 93%;
    margin-right: calc(-20px + 20 * ((100vw - 320px) / (1280 - 320)));
}

.ceti1 {
    width: 50px;
    height: 50px;
    border-radius: 1%;
    position: fixed;
    right: 0;
    top: 93%;
    margin-right: calc(10px + 30* ((100vw - 320px) / (1280 - 320)));
}

.ceti2 {
    width: 50px;
    height: 50px;
    border-radius: 1%;
    position: fixed;
    right: 0;
    top: 93%;
    margin-right: calc(35px + 40 * ((100vw - 320px) / (1280 - 320)));
    z-index: 2;
}

.rasilka {
    width: 50px;
    height: 50px;
    border-radius: 1%;
    position: fixed;
    left: 0;
    top: 93%;
    margin-left: calc(8px + 30 * ((100vw - 320px) / (1280 - 320)));
    z-index: 2;
}

.ras {
    width: 50px;
    height: 50px;
    border-radius: 1%;
    position: fixed;
    left: 0;
    top: 93%;
    margin-left: calc(30px + 40 * ((100vw - 320px) / (1280 - 320)));
    z-index: 2;
    color: rgb(101, 103, 103);
}



a:visited {
    color: rgb(101, 103, 103);
    text-decoration: none;
}

.container {
    
}
